.figures > .figure {
    display: inline-block;
    width: 400px;
}

canvas {
    border: 1px solid black;
}

.buttons > button {
    display: inline-block;
}

.A {
    color: #88f;
}
.B {
    color: #8e8;
}
.clipped {
    color: #0ee;
}
